In [ ]:
import pandas as pd
import numpy as np
import pickle

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/9394113857/Data-Sets/raghu/diabetes.csv')

In [ ]:
# 1.The pd.DataFrame() function in pandas can take a dictionary,
# 2.a list of lists/tuples,
# 3.a list of dictionaries,
# 4.or a NumPy ndarray as input data to create a DataFrame.

![image.png]()

In [ ]:
df # first 5 and last 5 rows returned

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
df.head() # df.head() returns the first 5 rows of the DataFrame

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.tail() # Last 5 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
# Assuming you have a DataFrame called 'df'
num_rows = df.shape[0]
print("Number of rows in the DataFrame:", num_rows)

Number of rows in the DataFrame: 768

In [ ]:
# Alternatively, you can use len()
num_rows = len(df)
print("Number of rows in the DataFrame:", num_rows)

Number of rows in the DataFrame: 768

**Both shape[0] and len(df) will give you the number of rows in the DataFrame.**

In [ ]:
# Count and display the number of columns:
# The df.shape[1] correctly extracts the number of columns in the DataFrame:
columns = df.shape[1]
print("Number of columns in the DataFrame:", columns)

Number of columns in the DataFrame: 9

In [ ]:
# Display the columns of the DataFrame:
# We used df.columns.tolist() to convert the columns into a Python list and then printed the list of column names.
columns_list = df.columns.tolist()
print("Columns of the DataFrame:")
print(columns_list)

Columns of the DataFrame:
['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [ ]:
# Display the columns of the DataFrame by Sno:
# In this code, we use a for loop to iterate over the columns of the DataFrame (df.columns) along with their corresponding serial numbers (sno).
# We use enumerate with the start=1 argument to begin the serial numbers from 1.
# The print statement formats the output to display the columns with their respective serial numbers in the console.
print("Columns of the DataFrame:")
for sno, column_name in enumerate(df.columns, start=1):
    print(f"{sno:2d} | {column_name}")

Columns of the DataFrame:
 1 | Pregnancies
 2 | Glucose
 3 | BloodPressure
 4 | SkinThickness
 5 | Insulin
 6 | BMI
 7 | DiabetesPedigreeFunction
 8 | Age
 9 | Outcome

**Here's the basic syntax of enumerate:**

In [ ]:
# enumerate(iterable, start=0)
# iterable: The iterable (e.g., list, tuple, string) for which you want to generate the index-item pairs.
# start: (Optional) The starting index from which the enumeration should begin. By default, it starts from 0.

In [ ]:
# Example usage of enumerate:
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits, start=1):
    print(f"Index {index}: {fruit}")

# In this example, enumerate is used to loop through the list of fruits and display each fruit along with its corresponding index.
# By setting start=1, we start the index from 1 instead of the default 0.

Index 1: apple
Index 2: banana
Index 3: cherry

In [ ]:
df.head() # Before changing this 'DiabetesPedigreeFunction' column name.

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df = df.rename(columns={'DiabetesPedigreeFunction':'DPF'})

In [ ]:
df.head() # column name changed now to DPF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
zero_columns = df.eq(0).any() # any() means "at least one is True" or "any of the elements satisfy the condition."
print(zero_columns) # True means atleast 1 zero value, False means atleast no zero values found

Pregnancies       True
Glucose           True
BloodPressure     True
SkinThickness     True
Insulin           True
BMI               True
DPF              False
Age              False
Outcome           True
dtype: bool

**1.	df:** is assumed to be a Pandas DataFrame.

**2.	df.eq(0):** performs element-wise comparison of the DataFrame df with the value 0. It creates a new DataFrame with the same shape as df but with boolean values (True where the original value was 0, and False where it was not).

**3.	.any():** is then applied to the boolean DataFrame, which returns a Series indicating whether any True value exists in each column. If at least one True value exists in a column, it means that the column contains at least one zero.

**4.Finally, the print(zero_columns)** statement will output the Series showing True for columns containing at least one zero, and False for columns with no zeros.

In [ ]:
# checking count of zero values in all the columns
zero_columns_count = (df == 0).sum()
print("\033[1mZero values count in each column:\033[0m")
print(zero_columns_count)

Zero values count in each column:
Pregnancies      111
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
DPF                0
Age                0
Outcome          500
dtype: int64

In [ ]:
# # List of columns with zero values
# columns_with_zeros = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

# # Create a boolean mask where each element is True if the corresponding cell is zero, False otherwise
# mask = df[columns_with_zeros] == 0

# # Apply the mask to the DataFrame to get only the rows where any of the specified columns have zero values
# rows_with_zeros = df[mask.any(axis=1)]

# # Set display options to show all rows without truncation
# pd.set_option('display.max_rows', None)

# # Display the resulting DataFrame (entire rows with zero values in the specified columns)
# print(rows_with_zeros)

# # Reset display options to the default value (optional)
# pd.reset_option('display.max_rows')

In [ ]:
# Replacing the 0 values from ['Glucose','BloodPressure','SkinThickness','Insulin','BMI'] by NaN
df_copy = df.copy(deep=True)
df_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = df_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.NaN)

In [ ]:
df_copy.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [ ]:
# List of columns with NaN values you want to check
columns_with_nan = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

# Get the count of NaN values in each specified column
nan_counts = df_copy[columns_with_nan].isnull().sum()

# Display the counts of NaN values along with the column names
print("\033[1mColumn-wise NaN values counts:\033[0m")
print(nan_counts)

# If you got all zeros in the output, it means that there are no NaN values in the specified columns.
# If you get a non-zero count for NaN values in the output, it indicates that there are missing values (NaN) in the specified columns.

Column-wise NaN values counts:
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [ ]:
for index, row in df.head(2).iterrows(): # 2 means first two rows ok like 0 and 1th position values ok
    print("Row", index)
    for column in df.columns:
        print(column + ":", row[column])
    print()

Row 0
Pregnancies: 6.0
Glucose: 148.0
BloodPressure: 72.0
SkinThickness: 35.0
Insulin: 0.0
BMI: 33.6
DPF: 0.627
Age: 50.0
Outcome: 1.0

Row 1
Pregnancies: 1.0
Glucose: 85.0
BloodPressure: 66.0
SkinThickness: 29.0
Insulin: 0.0
BMI: 26.6
DPF: 0.351
Age: 31.0
Outcome: 0.0

In [ ]:
# This code will print the first two rows of the DataFrame (df.head(2)) with their corresponding column names in a tabular format.
import pandas as pd
from tabulate import tabulate

# Assuming you have the DataFrame df

# Number of rows to display
rows_to_display = 2

# Get the first 'rows_to_display' rows of the DataFrame
df_head = df.head(rows_to_display)

# Display the results in a table format with headings
for index, row in df_head.iterrows():
    print(f"Row {index}:")
    table_data = [[column, row[column]] for column in df.columns]
    print(tabulate(table_data, headers=["Column", "Value"], tablefmt="grid"))
    print()

Row 0:
+---------------+---------+
| Column        |   Value |
+===============+=========+
| Pregnancies   |   6     |
+---------------+---------+
| Glucose       | 148     |
+---------------+---------+
| BloodPressure |  72     |
+---------------+---------+
| SkinThickness |  35     |
+---------------+---------+
| Insulin       |   0     |
+---------------+---------+
| BMI           |  33.6   |
+---------------+---------+
| DPF           |   0.627 |
+---------------+---------+
| Age           |  50     |
+---------------+---------+
| Outcome       |   1     |
+---------------+---------+

Row 1:
+---------------+---------+
| Column        |   Value |
+===============+=========+
| Pregnancies   |   1     |
+---------------+---------+
| Glucose       |  85     |
+---------------+---------+
| BloodPressure |  66     |
+---------------+---------+
| SkinThickness |  29     |
+---------------+---------+
| Insulin       |   0     |
+---------------+---------+
| BMI           |  26.6   |
+---------------+---------+
| DPF           |   0.351 |
+---------------+---------+
| Age           |  31     |
+---------------+---------+
| Outcome       |   0     |
+---------------+---------+

In [ ]:
# iterate only NaN values from the df and print
for index, row in df.iterrows():
    for column in df.columns:
        if pd.isna(row[column]):  # Check if the value is NaN
            print("NaN value found at Row", index, "- Column", column)

print("NaN value found at Row", index, "- Column", column)

NaN value found at Row 767 - Column Outcome

Indicates that a NaN value was found at Row 767 in the "Outcome" column.

In [ ]:
# Get the count of NaN values in each column
nan_counts = df_copy.isnull().sum()

# Filter only the columns with NaN values
columns_with_nan = nan_counts[nan_counts > 0]

# Display the count of NaN values along with the column names
print("\033[1mColumn-wise NaN values counts:\033[0m")
print(columns_with_nan)

Column-wise NaN values counts:
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [ ]:
# Before modify NaN values count those NaN values:
import pandas as pd

# Assuming you have the DataFrame df_copy

# Filter rows with NaN values and save them to a CSV file
rows_with_nan = df_copy[df_copy.isnull().any(axis=1)]
rows_with_nan.to_csv("rows_with_nan.csv", index=False)

# Read the CSV file into a DataFrame
df_from_csv = pd.read_csv("rows_with_nan.csv")

# Get the count of NaN values in each column from the CSV file
nan_counts_from_csv = df_from_csv.isnull().sum()

# Display the count of NaN values along with the column names
print("\033[1mColumn-wise NaN values counts from CSV:\033[0m")
print(nan_counts_from_csv)

Column-wise NaN values counts from CSV:
Pregnancies        0
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
DPF                0
Age                0
Outcome            0
dtype: int64

In [ ]:
# Replacing NaN value by mean, median depending upon distribution
df_copy['Glucose'].fillna(df_copy['Glucose'].mean(), inplace=True)
df_copy['BloodPressure'].fillna(df_copy['BloodPressure'].mean(), inplace=True)
df_copy['SkinThickness'].fillna(df_copy['SkinThickness'].median(), inplace=True)
df_copy['Insulin'].fillna(df_copy['Insulin'].median(), inplace=True)
df_copy['BMI'].fillna(df_copy['BMI'].median(), inplace=True)

In [ ]:
# After replaced all the NaN values in the specified columns with specified conditions:
import pandas as pd

# Assuming you have the DataFrame df_copy

# Filter rows with NaN values and save them to a CSV file
rows_with_nan = df_copy[df_copy.isnull().any(axis=1)]
rows_with_nan.to_csv("rows_without_nan.csv", index=False)

# Read the CSV file into a DataFrame
df_from_csv = pd.read_csv("rows_without_nan.csv")

# Get the count of NaN values in each column from the CSV file
nan_counts_from_csv = df_from_csv.isnull().sum()

# Display the count of NaN values along with the column names
print("\033[1mColumn-wise NaN values counts from CSV:\033[0m")
print(nan_counts_from_csv)

Column-wise NaN values counts from CSV:
Pregnancies      0.0
Glucose          0.0
BloodPressure    0.0
SkinThickness    0.0
Insulin          0.0
BMI              0.0
DPF              0.0
Age              0.0
Outcome          0.0
dtype: float64

In [ ]:
# Display the columns of the DataFrame by Sno:
# In this code, we use a for loop to iterate over the columns of the DataFrame (df.columns) along with their corresponding serial numbers (sno).
# We use enumerate with the start=1 argument to begin the serial numbers from 1.
# The print statement formats the output to display the columns with their respective serial numbers in the console.
print("Columns of the DataFrame:")
for sno, column_name in enumerate(df.columns, start=1):
    print(f"{sno:2d} | {column_name}")

Columns of the DataFrame:
 1 | Pregnancies
 2 | Glucose
 3 | BloodPressure
 4 | SkinThickness
 5 | Insulin
 6 | BMI
 7 | DPF
 8 | Age
 9 | Outcome

In [ ]:
# Model Building
from sklearn.model_selection import train_test_split
X = df.drop(columns='Outcome')
Y = df['Outcome']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

In [ ]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [ ]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age
603,7,150,78,29,126,35.2,0.692,54
118,4,97,60,23,0,28.2,0.443,22
247,0,165,90,33,680,52.3,0.427,23
157,1,109,56,21,135,25.2,0.833,23
468,8,120,0,0,0,30.0,0.183,38
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
192,7,159,66,0,0,30.4,0.383,36
629,4,94,65,22,0,24.7,0.148,21
559,11,85,74,0,0,30.1,0.300,35
684,5,136,82,0,0,0.0,0.640,69

In [ ]:
y_train

603    1
118    0
247    0
157    0
468    1
      ..
763    0
192    1
629    0
559    0
684    0
Name: Outcome, Length: 614, dtype: int64

In [ ]:
X_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DPF,Age
661,1,199,76,43,0,42.9,1.394,22
122,2,107,74,30,100,33.6,0.404,23
113,4,76,62,0,0,34.0,0.391,25
14,5,166,72,19,175,25.8,0.587,51
529,0,111,65,0,0,24.6,0.660,31
...,...,...,...,...,...,...,...,...
476,2,105,80,45,191,33.7,0.711,29
482,4,85,58,22,49,27.8,0.306,28
230,4,142,86,0,0,44.0,0.645,22
527,3,116,74,15,105,26.3,0.107,24
380,1,107,72,30,82,30.8,0.821,24

In [ ]:
y_test

661    1
122    0
113    0
14     1
529    0
      ..
476    1
482    0
230    1
527    0
380    0
Name: Outcome, Length: 154, dtype: int64

In [ ]:
train_test_split

In [ ]:
# Creating Random Forest Model
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=20)
classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=20)

In [ ]:
# Creating a pickle file for the classifier
filename = 'diabetes-prediction-rfc-model.pkl'
pickle.dump(classifier, open(filename, 'wb'))

Number of pregnancies: 5

Glucose level: 120

Blood pressure: 80

Skin thickness: 30

Insulin level: 150

BMI: 25.5

Diabetes pedigree function: 0.4

Age: 35

The person is not diabetic.

Number of pregnancies: 8

Glucose level: 180

Blood pressure: 90

Skin thickness: 35

Insulin level: 250

BMI: 32.5

Diabetes pedigree function: 0.6

Age: 45

The person is diabetic.

In [ ]:
# Load the dumped model
filename = 'diabetes-prediction-rfc-model.pkl'
loaded_model = pickle.load(open(filename, 'rb'))

# Take user input
user_input = []
pregnancies = int(input("Number of pregnancies: "))
user_input.append(pregnancies)
glucose = int(input("Glucose level: "))
user_input.append(glucose)
blood_pressure = int(input("Blood pressure: "))
user_input.append(blood_pressure)
skin_thickness = int(input("Skin thickness: "))
user_input.append(skin_thickness)
insulin = int(input("Insulin level: "))
user_input.append(insulin)
bmi = float(input("BMI: "))
user_input.append(bmi)
dpf = float(input("Diabetes pedigree function: "))
user_input.append(dpf)
age = int(input("Age: "))
user_input.append(age)

# Create a DataFrame from user input
input_df = pd.DataFrame([user_input], columns=['Pregnancies', 'Glucose', 'BloodPressure',
                                               'SkinThickness', 'Insulin', 'BMI', 'DPF', 'Age'])

# Make predictions
prediction = loaded_model.predict(input_df)

# Display the prediction
if prediction[0] == 0:
    print("The person is not diabetic.")
else:
    print("The person is diabetic.")

Number of pregnancies: 8
Glucose level: 180
Blood pressure: 90
Skin thickness: 35
Insulin level: 250
BMI: 32.5
Diabetes pedigree function: 0.6
Age: 45
The person is diabetic.